
 
.fPage-container{
    width: 100%;
    height: 100vh;

    overflow: hidden;
}

.fPage-container img{
    width: 100%;
    height: 100%;

    object-fit: contain;
    object-position: center;

    display: block;
}